.main-sec2
{
    &-bg
    {
        overflow:hidden;
        height: 620px;
        background: url(/images/about.jpg.webp) no-repeat center;
        background-size: cover;
    }
    &-info
    {
        background-color: rgba($primary-text-color,.5);
        margin-left:-8%;
        z-index: 1;
        padding: 2rem 2rem 3rem 2rem;
        @include media('phone')
        {
            background-color: transparent;
            margin-left:0;
            padding:1rem;
            margin-top: 0;
        }
    }
}