.sec-col3
{
    background-color: $primary-color;
    padding: 6.59rem 8rem;
    @include media('phone')
    {
        padding: 6.59rem 2rem;
    }
    @include media('small-phone')
    {
        padding: 6.59rem 1rem;
    }
    &-parent
    {
        @include media('tab-port')
        {
            flex-wrap: wrap;
        }
        &-sec
        {
            margin-right: 1.3rem;
            @extend %col-3;
            &-icon
            {
                margin-bottom: 2rem;
                i
                {
                    color: $primary-dark-color;
                    position: relative;
                    display: inline-block;
                    z-index: 1;
                    font-size: 3.2rem;
                    padding: 1rem;
                    &::after
                    {
                       @extend %i-after;
                    }
                }
            }
            &-caption
            {
                h3
                {
                    font:500 1.125rem/4rem $primary-font-family ;
                    margin-bottom: 1.25rem;
                    text-transform: uppercase;
                }
                p
                {
                    font:300 1rem/1.5rem $primary-font-family ;
                    color: $secondary-text-color;
                    width: 90%;
                }
            }
        }
    }
}